In [1]:
import time
import numpy as np
import pandas as pd
import json
import seaborn as sb
from matplotlib import pyplot as plt
from matplotlib import rcParams

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [2]:
sample=pd.read_csv('/home/codonnell/tutors/tutmain/all_tutors.csv')
sample=sample.drop_duplicates()
sample.head()

,Unnamed: 0,Unnamed: 0.1,@context,@type,@id,paymentAccepted,currenciesAccepted,description,priceRange,image,...,background_check,date_background_passed,education,sunday,monday,tuesday,wednesday,thursday,friday,saturday
0,0,0,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Los_Angeles/7...,"Credit card, Paypal",USD,Fun Experienced Tutor!,60.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F..."
1,1,1,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Beverly_Hills...,"Credit card, Paypal",USD,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,"[True, True, True, True, False, False, False, ...","[True, True, True, True, False, False, False, ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal..."
2,2,2,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Valley_Villag...,"Credit card, Paypal",USD,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,"[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru..."
3,3,3,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Tarzana/7614535/,"Credit card, Paypal",USD,Congratulations to my students entering Harvar...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,"[False, False, False, False, False, False, Fal...","[True, True, False, False, False, False, False...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[False, False, False, True, True, True, False,...","[True, True, True, True, True, True, False, Fa..."
4,4,4,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Winnetka/7636...,"Credit card, Paypal",USD,Master of Science in Education in Teaching /CA...,40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,[None],[None],[None],[None],[None],[None],[None]

In [3]:
def get_ids(url):
    return int(url.split('/')[-2])

sample['tut_id'] = sample['url'].apply(get_ids)
sample.head()

,Unnamed: 0,Unnamed: 0.1,@context,@type,@id,paymentAccepted,currenciesAccepted,description,priceRange,image,...,date_background_passed,education,sunday,monday,tuesday,wednesday,thursday,friday,saturday,tut_id
0,0,0,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Los_Angeles/7...,"Credit card, Paypal",USD,Fun Experienced Tutor!,60.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...",7269032
1,1,1,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Beverly_Hills...,"Credit card, Paypal",USD,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,"[True, True, True, True, False, False, False, ...","[True, True, True, True, False, False, False, ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...",7277990
2,2,2,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Valley_Villag...,"Credit card, Paypal",USD,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,"[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...",7611743
3,3,3,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Tarzana/7614535/,"Credit card, Paypal",USD,Congratulations to my students entering Harvar...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,"[False, False, False, False, False, False, Fal...","[True, True, False, False, False, False, False...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[False, False, False, True, True, True, False,...","[True, True, True, True, True, True, False, Fa...",7614535
4,4,4,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Winnetka/7636...,"Credit card, Paypal",USD,Master of Science in Education in Teaching /CA...,40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,[None],[None],[None],[None],[None],[None],[None],7636743

In [4]:
cols_to_drop = ['Unnamed: 0','Unnamed: 0.1', '@context','@id','@type','paymentAccepted','currenciesAccepted',
               'url','employee','name','reviews']
sample = sample.drop(cols_to_drop,axis=1)

In [5]:
sample['tut_id'].value_counts()

8425204    28
8838716    26
9222618    24
9782304    23
9307895    22
           ..
7748050     1
9574687     1
9457942     1
9718622     1
9619455     1
Name: tut_id, Length: 3625, dtype: int64

In [6]:
#sample[sample['tut_id']==8838716]
sample = sample.drop_duplicates(subset='tut_id')

In [7]:
def has_photo(url):
    yes = 'silhouette' not in url
    return int(yes)

In [8]:
sample['photo']=sample['image'].apply(has_photo)
sample = sample.drop('image',axis=1)
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,sunday,monday,tuesday,wednesday,thursday,friday,saturday,tut_id,photo
0,Fun Experienced Tutor!,60.0,"{'addressLocality': 'Los Angeles', 'addressReg...","{'ratingCount': '269', 'ratingValue': '4.98885...","[{'name': 'Precalculus tutoring'}, {'name': 'F...",839 hours tutoring,"['Hi!', ""I'm an experienced tutor with a sense...",1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...",7269032,1
1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,"{'addressLocality': 'Beverly Hills', 'addressR...","{'ratingCount': '338', 'ratingValue': '4.93195...","[{'name': 'Microsoft Windows tutoring'}, {'nam...",962 hours tutoring,"['From Algebra to MLA, Middle School to MBA, I...",1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,"[True, True, True, True, False, False, False, ...","[True, True, True, True, False, False, False, ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...",7277990,1
2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,"{'addressLocality': 'Valley Village', 'address...","{'ratingCount': '1046', 'ratingValue': '4.9434...","[{'name': 'COOP/HSPT tutoring'}, {'name': 'Mar...","3,899 hours tutoring","[""I am an experienced (3000+ hours) tutor cert...",1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,"[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...",7611743,1
3,Congratulations to my students entering Harvar...,95.0,"{'addressLocality': 'Tarzana', 'addressRegion'...","{'ratingCount': '1602', 'ratingValue': '4.9794...","[{'name': 'College Counseling tutoring'}, {'na...","5,592 hours tutoring",['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,"[False, False, False, False, False, False, Fal...","[True, True, False, False, False, False, False...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[False, False, False, True, True, True, False,...","[True, True, True, True, True, True, False, Fa...",7614535,1
4,Master of Science in Education in Teaching /CA...,40.0,"{'addressLocality': 'Winnetka', 'addressRegion...","{'ratingCount': '51', 'ratingValue': '4.62745'...","[{'name': 'CBEST tutoring'}, {'name': 'MCAT tu...",91 hours tutoring,"['Over a decade, I have been teaching biology ...",1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,[None],[None],[None],[None],[None],[None],[None],7636743,1

In [9]:
def remove_hours(hours):
    if hours == 'Bio':
        return 0
    else:
        return float(hours.split(' ')[0].replace(',',''))

def get_rating_count(agg):
    return int(json.loads(agg.replace("'",'"'))['ratingCount'])

def get_rating_value(agg):
    val = json.loads(agg.replace("'",'"'))['ratingValue']
    if val:
        return float(val)
    else:
        return 0
    
def get_review_count(agg):
    val = json.loads(agg.replace("'",'"'))['reviewCount']
    if val:
        return float(val)
    else:
        return 0

def get_bio_length(bio):
    return len(bio.split(' '))

In [10]:
def get_state(add):
    return json.loads(add.replace("'",'"'))['addressRegion']
def get_zip(add):
    return int(json.loads(add.replace("'",'"'))['postalCode'])

def get_subject_list(sub_list):
    sub_dicts = json.loads(sub_list.replace("'",'"'))
    return [sub['name'] for sub in sub_dicts]

def get_num_subjects(sub_list):
    return len(json.loads(sub_list.replace("'",'"')))

def get_hours_day(day):
    hours = np.array(day.replace('[','').replace(']','').replace(' ','').split(','))
    return float(len(hours[hours=='True'])/24)

In [11]:
sample['rating_count']=sample['aggregateRating'].apply(get_rating_count)
sample['rating_av']=sample['aggregateRating'].apply(get_rating_value)
sample['review_count']=sample['aggregateRating'].apply(get_review_count)
sample['bio_length']=sample['bio'].apply(get_bio_length)
sample['subject_list']=sample['makesOffer'].apply(get_subject_list)
sample['num_subjects']=sample['makesOffer'].apply(get_num_subjects)
sample['hours_tutoring']=sample['time_tutoring'].apply(remove_hours)
sample['state']=sample['address'].apply(get_state)
sample['zip_code']=sample['address'].apply(get_zip)

In [12]:
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,...,photo,rating_count,rating_av,review_count,bio_length,subject_list,num_subjects,hours_tutoring,state,zip_code
0,Fun Experienced Tutor!,60.0,"{'addressLocality': 'Los Angeles', 'addressReg...","{'ratingCount': '269', 'ratingValue': '4.98885...","[{'name': 'Precalculus tutoring'}, {'name': 'F...",839 hours tutoring,"['Hi!', ""I'm an experienced tutor with a sense...",1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...",...,1,269,4.98885,15.0,376,"[Precalculus tutoring, French tutoring, Europe...",5,839.0,CA,90046
1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,"{'addressLocality': 'Beverly Hills', 'addressR...","{'ratingCount': '338', 'ratingValue': '4.93195...","[{'name': 'Microsoft Windows tutoring'}, {'nam...",962 hours tutoring,"['From Algebra to MLA, Middle School to MBA, I...",1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,...,1,338,4.93195,18.0,323,"[Microsoft Windows tutoring, Elementary Math t...",31,962.0,CA,90210
2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,"{'addressLocality': 'Valley Village', 'address...","{'ratingCount': '1046', 'ratingValue': '4.9434...","[{'name': 'COOP/HSPT tutoring'}, {'name': 'Mar...","3,899 hours tutoring","[""I am an experienced (3000+ hours) tutor cert...",1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,...,1,1046,4.94349,74.0,248,"[COOP/HSPT tutoring, Marketing tutoring, Theat...",72,3899.0,CA,91607
3,Congratulations to my students entering Harvar...,95.0,"{'addressLocality': 'Tarzana', 'addressRegion'...","{'ratingCount': '1602', 'ratingValue': '4.9794...","[{'name': 'College Counseling tutoring'}, {'na...","5,592 hours tutoring",['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,...,1,1602,4.97940,32.0,417,"[College Counseling tutoring, ACT English tuto...",19,5592.0,CA,91356
4,Master of Science in Education in Teaching /CA...,40.0,"{'addressLocality': 'Winnetka', 'addressRegion...","{'ratingCount': '51', 'ratingValue': '4.62745'...","[{'name': 'CBEST tutoring'}, {'name': 'MCAT tu...",91 hours tutoring,"['Over a decade, I have been teaching biology ...",1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,...,1,51,4.62745,9.0,321,"[CBEST tutoring, MCAT tutoring, Sewing tutorin...",40,91.0,CA,91306

In [13]:
ids_list = [[str(sample['tut_id'].iloc[i])]* num_subs for i, num_subs in enumerate(sample['num_subjects'].values)]
ids = [item for sublist in ids_list for item in sublist]
subs = [item.replace(' tutoring','') for sublist in sample['subject_list'].values for item in sublist]
tutor_subjects = pd.DataFrame({'tutor_ids':np.array(ids), 'subjects': np.array(subs)})

In [14]:
#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'tutor_db'
username = 'codonnell'
pswd = '7883511'

In [15]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://codonnell:7883511@localhost/tutor_db
postgresql://codonnell:7883511@localhost/tutor_db

In [16]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://codonnell:7883511@localhost/tutor_db

In [17]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
tutor_subjects.to_sql('tutor_subjects', engine, if_exists='replace')

In [18]:
def get_back_date(date):
    return date.strip('\n').split('\n')[0].split(' ')[-1]

In [19]:
def get_edu_length(edu):
    return len(edu.split('\\n'))

In [20]:
sample['edu_length'] = sample['education'].apply(get_edu_length)

In [21]:
sample['edu_length'].value_counts()

7     1413
4     1320
10     758
1      119
6        8
9        4
3        2
8        1
Name: edu_length, dtype: int64

In [22]:
def extract_edu(edu, pos):
    edu_list = edu.split('\\n')
    if pos >= len(edu_list):
        return []
    else:
        inst = edu_list[pos].strip(' ')
        stopwords = ['university','University','of','in','College','college']
        for word in stopwords:
            inst = inst.replace(word,'').strip(' ')
        return inst
extract_edu(sample[sample['edu_length']==10]['education'].iloc[8],1)

'USC'

In [23]:
sample['inst_1']=sample.apply(lambda x: extract_edu(x['education'],1),axis=1)
sample['inst_2']=sample.apply(lambda x: extract_edu(x['education'],4),axis=1)
sample['inst_3']=sample.apply(lambda x: extract_edu(x['education'],7),axis=1)
sample['qual_1']=sample.apply(lambda x: extract_edu(x['education'],2),axis=1)
sample['qual_2']=sample.apply(lambda x: extract_edu(x['education'],5),axis=1)
sample['qual_3']=sample.apply(lambda x: extract_edu(x['education'],8),axis=1)

In [24]:
sample['qual_3'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                     2863
Masters                 188
PhD                     186
Graduate Coursework     110
Other                   106
Enrolled                 56
MBA                      35
MEd                      25
EdD                      20
MD                       17
J.D.                     15
']                        4
Name: qual_3, dtype: int64

In [25]:
# sql schema import

In [26]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT * FROM tutor_subjects
WHERE subjects = 'English'
"""
birth_data_from_sql = pd.read_sql_query(sql_query,con)

birth_data_from_sql.head()

   index tutor_ids subjects
0     22   7277990  English
1     67   7611743  English
2    119   7614535  English
3    191   7717276  English
4    214   7753548  English

In [27]:
day_cols = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
for col in day_cols:
    sample[col + '_hours'] = sample[col].apply(get_hours_day)
hours_cols = ['sunday_hours','monday_hours','tuesday_hours','wednesday_hours','thursday_hours',
              'friday_hours','saturday_hours']
sample['mean_hours'] = sample[hours_cols].mean(axis=1)
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,...,qual_2,qual_3,sunday_hours,monday_hours,tuesday_hours,wednesday_hours,thursday_hours,friday_hours,saturday_hours,mean_hours
0,Fun Experienced Tutor!,60.0,"{'addressLocality': 'Los Angeles', 'addressReg...","{'ratingCount': '269', 'ratingValue': '4.98885...","[{'name': 'Precalculus tutoring'}, {'name': 'F...",839 hours tutoring,"['Hi!', ""I'm an experienced tutor with a sense...",1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...",...,Masters,[],0.583333,0.416667,0.583333,0.375000,0.375000,0.583333,0.583333,0.500000
1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,"{'addressLocality': 'Beverly Hills', 'addressR...","{'ratingCount': '338', 'ratingValue': '4.93195...","[{'name': 'Microsoft Windows tutoring'}, {'nam...",962 hours tutoring,"['From Algebra to MLA, Middle School to MBA, I...",1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,...,Masters,[],0.500000,0.541667,0.583333,0.583333,0.583333,0.500000,0.333333,0.517857
2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,"{'addressLocality': 'Valley Village', 'address...","{'ratingCount': '1046', 'ratingValue': '4.9434...","[{'name': 'COOP/HSPT tutoring'}, {'name': 'Mar...","3,899 hours tutoring","[""I am an experienced (3000+ hours) tutor cert...",1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,...,[],[],1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,Congratulations to my students entering Harvar...,95.0,"{'addressLocality': 'Tarzana', 'addressRegion'...","{'ratingCount': '1602', 'ratingValue': '4.9794...","[{'name': 'College Counseling tutoring'}, {'na...","5,592 hours tutoring",['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,...,Masters,[],0.000000,0.375000,0.541667,0.541667,0.250000,0.416667,0.375000,0.357143
4,Master of Science in Education in Teaching /CA...,40.0,"{'addressLocality': 'Winnetka', 'addressRegion...","{'ratingCount': '51', 'ratingValue': '4.62745'...","[{'name': 'CBEST tutoring'}, {'name': 'MCAT tu...",91 hours tutoring,"['Over a decade, I have been teaching biology ...",1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,...,Other,Masters,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [28]:
cols_to_drop = ['address','aggregateRating','makesOffer','time_tutoring','date_background_passed','education',
               'subject_list'] + day_cols
tutor_main = sample.drop(cols_to_drop, axis=1)
tutor_main['priceRange']=tutor_main['priceRange'].apply(int)
tutor_main = tutor_main.rename(columns={'priceRange': 'hourly_rate'})

In [29]:
tutor_main = tutor_main.reset_index(drop='True')
tutor_main.to_sql('tutor_main', engine, if_exists='replace')

In [30]:
sql_query = """
SELECT *
  FROM tutor_main
   WHERE hourly_rate > 70
"""
tutor_data_from_sql = pd.read_sql_query(sql_query,con)
tutor_data_from_sql.head()

,index,description,hourly_rate,bio,background_check,tut_id,photo,rating_count,rating_av,review_count,...,qual_2,qual_3,sunday_hours,monday_hours,tuesday_hours,wednesday_hours,thursday_hours,friday_hours,saturday_hours,mean_hours
0,1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75,"['From Algebra to MLA, Middle School to MBA, I...",1,7277990,1,338,4.93195,18.0,...,Masters,{},0.500000,0.541667,0.583333,0.583333,0.583333,0.500000,0.333333,0.517857
1,2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95,"[""I am an experienced (3000+ hours) tutor cert...",1,7611743,1,1046,4.94349,74.0,...,{},{},1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,3,Congratulations to my students entering Harvar...,95,['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,7614535,1,1602,4.97940,32.0,...,Masters,{},0.000000,0.375000,0.541667,0.541667,0.250000,0.416667,0.375000,0.357143
3,13,"Patient, Knowledgeable and Effective Spanish T...",125,['I am a high school AP Spanish Language teach...,1,8022035,1,67,4.98507,12.0,...,{},{},0.041667,0.166667,0.083333,0.125000,0.125000,0.083333,0.000000,0.089286
4,6,"Creative College Essay Coaching, Interview Pre...",75,"[""My greatest strength as a writing tutor is h...",1,7753548,1,170,4.88824,18.0,...,Masters,Masters,0.333333,0.541667,0.541667,0.375000,0.541667,0.500000,0.500000,0.476190

In [31]:
tutor_nums = pd.read_csv('/home/codonnell/tutors/tutmain/tutors_per_zip.csv')

In [32]:
cols_to_drop = ['Unnamed: 0','tot_tuts']
tutor_nums = tutor_nums.drop(cols_to_drop,axis=1)

In [33]:
tutor_nums.to_sql('tutor_nums', engine, if_exists='replace')

In [45]:
zip_incomes = pd.read_csv('/home/codonnell/Insight/Insight_Project_AsTutor/data/raw/zips_incomes/combined_incomes.csv')
zip_incomes.head()

   zip_code           state population growth  average_age income_per_house
0     11226     Brooklyn NY     94,814    -7%         34.5       $29,498.00
1     90805   Long Beach CA     94,475     1%         29.0       $32,565.00
2     91331      Pacoima CA     93,821   -10%         29.5       $39,225.00
3      8701     Lakewood NJ     93,320     0%         23.9       $35,647.00
4     90044  Los Angeles CA     92,967     3%         28.6       $22,091.00

In [38]:
def clean_income(income):
    return float(income.strip('$').replace(',',''))

In [46]:
zip_incomes['household_income'] = zip_incomes['income_per_house'].apply(clean_income)
zip_incomes['pop'] = zip_incomes['population'].apply(clean_income)

In [48]:
cols_to_drop = ['state','population','growth','income_per_house']
zip_incomes = zip_incomes.drop(cols_to_drop,axis=1)
zip_incomes.head()

   zip_code  average_age  household_income      pop
0     11226         34.5           29498.0  94814.0
1     90805         29.0           32565.0  94475.0
2     91331         29.5           39225.0  93821.0
3      8701         23.9           35647.0  93320.0
4     90044         28.6           22091.0  92967.0

In [49]:
zip_incomes.to_sql('zip_incomes', engine, if_exists='replace')