In [69]:
import time
import numpy as np
import pandas as pd
import json
import seaborn as sb
from matplotlib import pyplot as plt
from matplotlib import rcParams

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [121]:
sample=pd.read_csv('/home/codonnell/tutors/tutmain/all_tutors.csv')
sample=sample.drop_duplicates()
sample.head()

,Unnamed: 0,Unnamed: 0.1,@context,@type,@id,paymentAccepted,currenciesAccepted,description,priceRange,image,...,background_check,date_background_passed,education,sunday,monday,tuesday,wednesday,thursday,friday,saturday
0,0,0,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Los_Angeles/7...,"Credit card, Paypal",USD,Fun Experienced Tutor!,60.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F..."
1,1,1,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Beverly_Hills...,"Credit card, Paypal",USD,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,"[True, True, True, True, False, False, False, ...","[True, True, True, True, False, False, False, ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal..."
2,2,2,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Valley_Villag...,"Credit card, Paypal",USD,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,"[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru..."
3,3,3,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Tarzana/7614535/,"Credit card, Paypal",USD,Congratulations to my students entering Harvar...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,"[False, False, False, False, False, False, Fal...","[True, True, False, False, False, False, False...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[False, False, False, True, True, True, False,...","[True, True, True, True, True, True, False, Fa..."
4,4,4,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Winnetka/7636...,"Credit card, Paypal",USD,Master of Science in Education in Teaching /CA...,40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,[None],[None],[None],[None],[None],[None],[None]

In [122]:
def get_ids(url):
    return int(url.split('/')[-2])

sample['tut_id'] = sample['url'].apply(get_ids)
sample.head()

,Unnamed: 0,Unnamed: 0.1,@context,@type,@id,paymentAccepted,currenciesAccepted,description,priceRange,image,...,date_background_passed,education,sunday,monday,tuesday,wednesday,thursday,friday,saturday,tut_id
0,0,0,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Los_Angeles/7...,"Credit card, Paypal",USD,Fun Experienced Tutor!,60.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...",7269032
1,1,1,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Beverly_Hills...,"Credit card, Paypal",USD,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,"[True, True, True, True, False, False, False, ...","[True, True, True, True, False, False, False, ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...",7277990
2,2,2,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Valley_Villag...,"Credit card, Paypal",USD,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,"[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...",7611743
3,3,3,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Tarzana/7614535/,"Credit card, Paypal",USD,Congratulations to my students entering Harvar...,95.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,"[False, False, False, False, False, False, Fal...","[True, True, False, False, False, False, False...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[False, False, False, True, True, True, False,...","[True, True, True, True, True, True, False, Fa...",7614535
4,4,4,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/CA/Winnetka/7636...,"Credit card, Paypal",USD,Master of Science in Education in Teaching /CA...,40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,[None],[None],[None],[None],[None],[None],[None],7636743

In [123]:
cols_to_drop = ['Unnamed: 0','Unnamed: 0.1', '@context','@id','@type','paymentAccepted','currenciesAccepted',
               'url','employee','name','reviews']
sample = sample.drop(cols_to_drop,axis=1)

In [124]:
sample['tut_id'].value_counts()

8425204    28
8838716    26
9222618    24
9782304    23
9307895    22
           ..
7748050     1
9574687     1
9457942     1
9718622     1
9619455     1
Name: tut_id, Length: 3625, dtype: int64

In [125]:
#sample[sample['tut_id']==8838716]
sample = sample.drop_duplicates(subset='tut_id')

In [25]:
def has_photo(url):
    yes = 'silhouette' not in url
    return int(yes)

In [126]:
sample['photo']=sample['image'].apply(has_photo)
sample = sample.drop('image',axis=1)
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,sunday,monday,tuesday,wednesday,thursday,friday,saturday,tut_id,photo
0,Fun Experienced Tutor!,60.0,"{'addressLocality': 'Los Angeles', 'addressReg...","{'ratingCount': '269', 'ratingValue': '4.98885...","[{'name': 'Precalculus tutoring'}, {'name': 'F...",839 hours tutoring,"['Hi!', ""I'm an experienced tutor with a sense...",1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...",7269032,1
1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,"{'addressLocality': 'Beverly Hills', 'addressR...","{'ratingCount': '338', 'ratingValue': '4.93195...","[{'name': 'Microsoft Windows tutoring'}, {'nam...",962 hours tutoring,"['From Algebra to MLA, Middle School to MBA, I...",1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,"[True, True, True, True, False, False, False, ...","[True, True, True, True, False, False, False, ...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[True, True, True, True, True, False, False, F...","[False, False, False, False, False, False, Fal...",7277990,1
2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,"{'addressLocality': 'Valley Village', 'address...","{'ratingCount': '1046', 'ratingValue': '4.9434...","[{'name': 'COOP/HSPT tutoring'}, {'name': 'Mar...","3,899 hours tutoring","[""I am an experienced (3000+ hours) tutor cert...",1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,"[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...","[True, True, True, True, True, True, True, Tru...",7611743,1
3,Congratulations to my students entering Harvar...,95.0,"{'addressLocality': 'Tarzana', 'addressRegion'...","{'ratingCount': '1602', 'ratingValue': '4.9794...","[{'name': 'College Counseling tutoring'}, {'na...","5,592 hours tutoring",['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,"[False, False, False, False, False, False, Fal...","[True, True, False, False, False, False, False...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[False, False, False, True, True, True, False,...","[True, True, True, True, True, True, False, Fa...",7614535,1
4,Master of Science in Education in Teaching /CA...,40.0,"{'addressLocality': 'Winnetka', 'addressRegion...","{'ratingCount': '51', 'ratingValue': '4.62745'...","[{'name': 'CBEST tutoring'}, {'name': 'MCAT tu...",91 hours tutoring,"['Over a decade, I have been teaching biology ...",1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,[None],[None],[None],[None],[None],[None],[None],7636743,1

In [29]:
def remove_hours(hours):
    if hours == 'Bio':
        return 0
    else:
        return float(hours.split(' ')[0].replace(',',''))

def get_rating_count(agg):
    return int(json.loads(agg.replace("'",'"'))['ratingCount'])

def get_rating_value(agg):
    val = json.loads(agg.replace("'",'"'))['ratingValue']
    if val:
        return float(val)
    else:
        return 0
    
def get_review_count(agg):
    val = json.loads(agg.replace("'",'"'))['reviewCount']
    if val:
        return float(val)
    else:
        return 0

def get_bio_length(bio):
    return len(bio.split(' '))

In [74]:
def get_state(add):
    return json.loads(add.replace("'",'"'))['addressRegion']
def get_zip(add):
    return int(json.loads(add.replace("'",'"'))['postalCode'])

def get_subject_list(sub_list):
    sub_dicts = json.loads(sub_list.replace("'",'"'))
    return [sub['name'] for sub in sub_dicts]

def get_num_subjects(sub_list):
    return len(json.loads(sub_list.replace("'",'"')))

In [127]:
sample['rating_count']=sample['aggregateRating'].apply(get_rating_count)
sample['rating_av']=sample['aggregateRating'].apply(get_rating_value)
sample['review_count']=sample['aggregateRating'].apply(get_review_count)
sample['bio_length']=sample['bio'].apply(get_bio_length)
sample['subject_list']=sample['makesOffer'].apply(get_subject_list)
sample['num_subjects']=sample['makesOffer'].apply(get_num_subjects)
sample['hours_tutoring']=sample['time_tutoring'].apply(remove_hours)

In [128]:
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,...,saturday,tut_id,photo,rating_count,rating_av,review_count,bio_length,subject_list,num_subjects,hours_tutoring
0,Fun Experienced Tutor!,60.0,"{'addressLocality': 'Los Angeles', 'addressReg...","{'ratingCount': '269', 'ratingValue': '4.98885...","[{'name': 'Precalculus tutoring'}, {'name': 'F...",839 hours tutoring,"['Hi!', ""I'm an experienced tutor with a sense...",1,\n\nBackground check passed on 8/19/2013\n,"['\n Paul Valery, france\n ...",...,"[True, True, True, True, True, False, False, F...",7269032,1,269,4.98885,15.0,376,"[Precalculus tutoring, French tutoring, Europe...",5,839.0
1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75.0,"{'addressLocality': 'Beverly Hills', 'addressR...","{'ratingCount': '338', 'ratingValue': '4.93195...","[{'name': 'Microsoft Windows tutoring'}, {'nam...",962 hours tutoring,"['From Algebra to MLA, Middle School to MBA, I...",1,\n\nBackground check passed on 9/24/2015\n,['\n University of Florida\...,...,"[False, False, False, False, False, False, Fal...",7277990,1,338,4.93195,18.0,323,"[Microsoft Windows tutoring, Elementary Math t...",31,962.0
2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95.0,"{'addressLocality': 'Valley Village', 'address...","{'ratingCount': '1046', 'ratingValue': '4.9434...","[{'name': 'COOP/HSPT tutoring'}, {'name': 'Mar...","3,899 hours tutoring","[""I am an experienced (3000+ hours) tutor cert...",1,\n\nBackground check passed on 7/20/2017\n,['\n Tufts University\n ...,...,"[True, True, True, True, True, True, True, Tru...",7611743,1,1046,4.94349,74.0,248,"[COOP/HSPT tutoring, Marketing tutoring, Theat...",72,3899.0
3,Congratulations to my students entering Harvar...,95.0,"{'addressLocality': 'Tarzana', 'addressRegion'...","{'ratingCount': '1602', 'ratingValue': '4.9794...","[{'name': 'College Counseling tutoring'}, {'na...","5,592 hours tutoring",['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,\n\nBackground check passed on 4/13/2015\n,['\n Harvard College\n ...,...,"[True, True, True, True, True, True, False, Fa...",7614535,1,1602,4.97940,32.0,417,"[College Counseling tutoring, ACT English tuto...",19,5592.0
4,Master of Science in Education in Teaching /CA...,40.0,"{'addressLocality': 'Winnetka', 'addressRegion...","{'ratingCount': '51', 'ratingValue': '4.62745'...","[{'name': 'CBEST tutoring'}, {'name': 'MCAT tu...",91 hours tutoring,"['Over a decade, I have been teaching biology ...",1,\n\nBackground check passed on 5/8/2015\n,['\n Lebanese American Univ...,...,[None],7636743,1,51,4.62745,9.0,321,"[CBEST tutoring, MCAT tutoring, Sewing tutorin...",40,91.0

In [129]:
ids_list = [[str(sample['tut_id'].iloc[i])]* num_subs for i, num_subs in enumerate(sample['num_subjects'].values)]
ids = [item for sublist in ids_list for item in sublist]
subs = [item.replace(' tutoring','') for sublist in sample['subject_list'].values for item in sublist]
tutor_subjects = pd.DataFrame({'tutor_ids':np.array(ids), 'subjects': np.array(subs)})

In [66]:
#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'tutor_db'
username = 'codonnell'
pswd = '7883511'

In [70]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://codonnell:7883511@localhost/tutor_db
postgresql://codonnell:7883511@localhost/tutor_db

In [71]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://codonnell:7883511@localhost/tutor_db

In [130]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
tutor_subjects.to_sql('tutor_subjects', engine, if_exists='replace')

In [90]:
sample['bio'].iloc[0].strip('[]')

'\'Hi!\', "I\'m an experienced tutor with a sense of humor!  ", \'I am a French native speaker and have have a Master\\\'s degree in English with a minor in Spanish, obtained at Paul Valery University, in the South of France. I\\\'m very good with words and languages and have even created a French learning website "Oh La La, I Speak French!".\', \'I have been teaching/tutoring languages for over 15 years now.  I taught French as a foreign language at the University of Manchester, England for one year.  I also...\', \'Hi!\', "I\'m an experienced tutor with a sense of humor!  ", \'I am a French native speaker and have have a Master\\\'s degree in English with a minor in Spanish, obtained at Paul Valery University, in the South of France. I\\\'m very good with words and languages and have even created a French learning website "Oh La La, I Speak French!".\', \'I have been teaching/tutoring languages for over 15 years now.  I taught French as a foreign language at the University of Manchester, England for one year.  I also tutored French as a foreign language in London for a few years. While living in Paris, I taught French as a foreign language and also tutored Spanish. I tutored French, English and Spanish in Los Angeles to both children and adults for about 10 years. I just came back to Los Angeles after 4 years in Paris, teaching English as a foreign language mostly, and am excited to go back to tutoring French and Spanish.\', \'I love people and I find tutoring very stimulating and enriching. I also like the flexibility of the job which allows me to combine acting and producing activities.  \', "As for my tutoring/teaching method, it varies depending on the student.  I need to know what my student\'s personality is like before establishing a plan of action!  Not everybody is interested in the same things or learns the same way. So I adapt my teaching according to each person so that the learning process is both efficient and fun! ", "Don\'t hesitate to contact me if you\'re looking for the right tutor for yourself or your child(ren)!  I\'d be delighted to help!", \'Talk soon,\\nSoraya\''

In [104]:
def get_back_date(date):
    return date.strip('\n').split('\n')[0].split(' ')[-1]

In [107]:
len(sample['education'].iloc[0].split('\\n'))

7

In [108]:
sample['education'].iloc[0].split('\\n')

["['",
 '                    Paul Valery, france',
 '                        English',
 "                ', '",
 '                    Paul Valery, france',
 '                        Masters',
 "                ']"]

In [113]:
len(sample['education'].iloc[100].split('\\n'))

7

In [114]:
def get_edu_length(edu):
    return len(edu.split('\\n'))

In [131]:
sample['edu_length'] = sample['education'].apply(get_edu_length)

In [132]:
sample['edu_length'].value_counts()

7     1413
4     1320
10     758
1      119
6        8
9        4
3        2
8        1
Name: edu_length, dtype: int64

In [148]:
sample[sample['edu_length']==10]['education'].iloc[8].split('\\n')

["['",
 '                    USC',
 '                        English',
 "                ', '",
 '                    UCLA',
 '                        J.D.',
 "                ', '",
 '                    University of Southern California (USC)',
 '                        MEd',
 "                ']"]

In [166]:
def extract_edu(edu, pos):
    edu_list = edu.split('\\n')
    if pos >= len(edu_list):
        return []
    else:
        inst = edu_list[pos].strip(' ')
        stopwords = ['university','University','of','in','College','college']
        for word in stopwords:
            inst = inst.replace(word,'').strip(' ')
        return inst
extract_edu(sample[sample['edu_length']==10]['education'].iloc[8],1)

'USC'

In [167]:
sample['inst_1']=sample.apply(lambda x: extract_edu(x['education'],1),axis=1)
sample['inst_1']=sample.apply(lambda x: extract_edu(x['education'],1),axis=1)

In [168]:
sample['inst_1'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                119
UCLA                               28
Houston                            27
Michigan                           23
California, Berkeley               21
                                 ...
Eastern Mennonite                   1
Northwood                           1
MS International Forestry           1
West Texas A&M                      1
B.S.Ed., M.A.,   the Philippes      1
Name: inst_1, Length: 1965, dtype: int64

In [ ]:
# sql schema import

In [172]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT * FROM tutor_subjects
WHERE subjects = 'English'
"""
birth_data_from_sql = pd.read_sql_query(sql_query,con)

birth_data_from_sql.head()

   index tutor_ids subjects
0     22   7277990  English
1     67   7611743  English
2    119   7614535  English
3    191   7717276  English
4    214   7753548  English