In [27]:
import time
import numpy as np
import pandas as pd
import json
import seaborn as sb
from matplotlib import pyplot as plt
from matplotlib import rcParams

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import proc_funcs as pf

In [ ]:
import glob
import csv

#combine all csv files into one

delimiter = ','
csvs = glob.glob('/home/codonnell/tutors/tutnew/tutors*.csv')
combined_csv = pd.concat([pd.read_csv(f) for f in csvs])
combined_csv.to_csv('/home/codonnell/tutors/tutnew/all_tutors_new.csv')

In [3]:
sample=pd.read_csv('/home/codonnell/tutors/tutnew/all_tutors_new.csv')
sample=sample.drop_duplicates()
sample.head()

/home/codonnell/anaconda3/envs/insight/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Unnamed: 0.1,@context,@type,@id,paymentAccepted,currenciesAccepted,description,priceRange,image,...,tuesday,wednesday,thursday,friday,saturday,alternateName,legalName,logo,contactPoint,sameAs
0,0,0,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Leola/7288404/,"Credit card, Paypal",USD,"French Translator, Writer, and Editor",50.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",NaN,NaN,NaN,NaN,NaN
1,1,1,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lancaster/756...,"Credit card, Paypal",USD,"Math, Physics, and Chemistry Tutor",53.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...",NaN,NaN,NaN,NaN,NaN
2,2,2,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lititz/7598407/,"Credit card, Paypal",USD,Native french tutor,40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...",NaN,NaN,NaN,NaN,NaN
3,3,3,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lancaster/799...,"Credit card, Paypal",USD,"Math, Test Prep (SAT, ACT, GED, GRE, ASVAB), a...",50.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[True, True, True, False, False, False, False,...","[False, False, False, False, False, False, Fal...","[True, True, True, False, False, False, False,...","[True, True, True, False, False, False, False,...","[True, True, True, False, False, False, False,...",NaN,NaN,NaN,NaN,NaN
4,4,4,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lancaster/816...,"Credit card, Paypal",USD,"Science and Math Tutoring (GenChem, Physics, O...",40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",NaN,NaN,NaN,NaN,NaN

In [4]:
sample['tut_id'] = sample['url'].apply(pf.get_ids)
sample.head()

,Unnamed: 0,Unnamed: 0.1,@context,@type,@id,paymentAccepted,currenciesAccepted,description,priceRange,image,...,wednesday,thursday,friday,saturday,alternateName,legalName,logo,contactPoint,sameAs,tut_id
0,0,0,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Leola/7288404/,"Credit card, Paypal",USD,"French Translator, Writer, and Editor",50.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",NaN,NaN,NaN,NaN,NaN,7288404.0
1,1,1,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lancaster/756...,"Credit card, Paypal",USD,"Math, Physics, and Chemistry Tutor",53.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...","[True, True, True, True, True, True, False, Fa...",NaN,NaN,NaN,NaN,NaN,7567210.0
2,2,2,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lititz/7598407/,"Credit card, Paypal",USD,Native french tutor,40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...","[True, True, False, False, False, False, False...",NaN,NaN,NaN,NaN,NaN,7598407.0
3,3,3,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lancaster/799...,"Credit card, Paypal",USD,"Math, Test Prep (SAT, ACT, GED, GRE, ASVAB), a...",50.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[False, False, False, False, False, False, Fal...","[True, True, True, False, False, False, False,...","[True, True, True, False, False, False, False,...","[True, True, True, False, False, False, False,...",NaN,NaN,NaN,NaN,NaN,7995266.0
4,4,4,http://schema.org,ProfessionalService,https://www.wyzant.com/Tutors/PA/Lancaster/816...,"Credit card, Paypal",USD,"Science and Math Tutoring (GenChem, Physics, O...",40.0,https://dj1hlxw0wr920.cloudfront.net/userfiles...,...,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",NaN,NaN,NaN,NaN,NaN,8165480.0

In [5]:
len(sample)

39997

In [6]:
cols_to_drop = ['Unnamed: 0','Unnamed: 0.1', '@context','@id','@type','paymentAccepted','currenciesAccepted',
               'url','employee','name','reviews','alternateName','legalName','logo','contactPoint','sameAs']
sample = sample.drop(cols_to_drop,axis=1)

In [7]:
sample['tut_id'].value_counts()

9307895.0    25
9726053.0    24
9546525.0    24
9772495.0    23
9775100.0    21
             ..
9017962.0     1
7584968.0     1
8679624.0     1
8109158.0     1
2304.0        1
Name: tut_id, Length: 15331, dtype: int64

In [8]:
#sample[sample['tut_id']==8838716]
sample = sample.drop_duplicates(subset='tut_id')
sample = sample.reset_index(drop=True)

In [9]:
len(sample)

15332

In [11]:
sample['photo']=sample['image'].apply(pf.has_photo)
sample = sample.drop('image',axis=1)

In [12]:
bad = []
for i in range(0,len(sample)):
    try: 
        int(json.loads(sample['aggregateRating'].iloc[i].replace("'",'"'))['ratingCount'])
    except:
        bad.append(i)
sample = sample.drop(bad)

In [13]:
sample['rating_count']=sample['aggregateRating'].apply(pf.get_rating_count)
sample['rating_av']=sample['aggregateRating'].apply(pf.get_rating_value)
sample['review_count']=sample['aggregateRating'].apply(pf.get_review_count)
sample['bio_length']=sample['bio'].apply(pf.get_bio_length)
sample['subject_list']=sample['makesOffer'].apply(pf.get_subject_list)
sample['num_subjects']=sample['makesOffer'].apply(pf.get_num_subjects)
sample['hours_tutoring']=sample['time_tutoring'].apply(pf.remove_hours)
sample['state']=sample['address'].apply(pf.get_state)
sample['zip_code']=sample['address'].apply(pf.get_zip)

In [14]:
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,...,photo,rating_count,rating_av,review_count,bio_length,subject_list,num_subjects,hours_tutoring,state,zip_code
0,"French Translator, Writer, and Editor",50.0,"{'addressLocality': 'Leola', 'addressRegion': ...","{'ratingCount': '298', 'ratingValue': '4.86195...","[{'name': 'Literature tutoring'}, {'name': 'En...","1,020 hours tutoring","[""If you need to improve your reading or writi...",1,\n\nBackground check passed on 11/15/2016\n,['\n Hood College\n ...,...,1,298,4.86195,22.0,257,"[Literature tutoring, English tutoring, Proofr...",12,1020.0,PA,17540
1,"Math, Physics, and Chemistry Tutor",53.0,"{'addressLocality': 'Lancaster', 'addressRegio...","{'ratingCount': '1154', 'ratingValue': '4.9688...","[{'name': 'GRE tutoring'}, {'name': 'GED tutor...","4,659 hours tutoring","[""If you're having trouble in your math or sci...",1,\n\nBackground check passed on 11/5/2014\n,['\n Carnegie Mellon Univer...,...,1,1154,4.96880,48.0,479,"[GRE tutoring, GED tutoring, Probability tutor...",13,4659.0,PA,17603
2,Native french tutor,40.0,"{'addressLocality': 'Lititz', 'addressRegion':...","{'ratingCount': '55', 'ratingValue': '4.90909'...","[{'name': 'Italian tutoring'}, {'name': 'Adobe...",140 hours tutoring,['As native French with excellent writing skil...,1,\n\nBackground check passed on 9/18/2013\n,['\n UniversitÃ© Nice Sophia...,...,1,55,4.90909,12.0,242,"[Italian tutoring, Adobe Photoshop tutoring, M...",7,140.0,PA,17543
3,"Math, Test Prep (SAT, ACT, GED, GRE, ASVAB), a...",50.0,"{'addressLocality': 'Lancaster', 'addressRegio...","{'ratingCount': '1902', 'ratingValue': '4.9600...","[{'name': 'Homeschool tutoring'}, {'name': 'Go...","7,393 hours tutoring","[""Mathematics is often so confusing and so bor...",1,\n\nBackground check passed on 4/20/2020\n,['\n Bob Jones University\n...,...,1,1902,4.96002,84.0,433,"[Homeschool tutoring, Government & Politics tu...",31,7393.0,PA,17601
4,"Science and Math Tutoring (GenChem, Physics, O...",40.0,"{'addressLocality': 'Lancaster', 'addressRegio...","{'ratingCount': '33', 'ratingValue': '4.75758'...","[{'name': 'Elementary Science tutoring'}, {'na...",132 hours tutoring,['I have 12 years of tutoring experience at th...,1,\n\nBackground check passed on 1/18/2014\n,['\n Stevenson University f...,...,1,33,4.75758,3.0,180,"[Elementary Science tutoring, Elementary Math ...",16,132.0,PA,17603

In [15]:
ids_list = [[str(sample['tut_id'].iloc[i])]* num_subs for i, num_subs in enumerate(sample['num_subjects'].values)]
ids = [item for sublist in ids_list for item in sublist]
subs = [item.replace(' tutoring','') for sublist in sample['subject_list'].values for item in sublist]
tutor_subjects = pd.DataFrame({'tutor_ids':np.array(ids), 'subjects': np.array(subs)})

In [16]:
#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'tutor_db'
username = 'codonnell'
pswd = '7883511'

In [17]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://codonnell:7883511@localhost/tutor_db
postgresql://codonnell:7883511@localhost/tutor_db

In [16]:
## create a database (if it doesn't exist)
#if not database_exists(engine.url):
#    create_database(engine.url)
#print(database_exists(engine.url))
#print(engine.url)

True
postgresql://codonnell:7883511@localhost/tutor_db

In [18]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
tutor_subjects.to_sql('tutor_subjects', engine, if_exists='append')

In [19]:
sample['edu_length'] = sample['education'].apply(pf.get_edu_length)

In [21]:
sample['inst_1']=sample.apply(lambda x: pf.extract_edu(x['education'],1),axis=1)
sample['inst_2']=sample.apply(lambda x: pf.extract_edu(x['education'],4),axis=1)
sample['inst_3']=sample.apply(lambda x: pf.extract_edu(x['education'],7),axis=1)
sample['qual_1']=sample.apply(lambda x: pf.extract_edu(x['education'],2),axis=1)
sample['qual_2']=sample.apply(lambda x: pf.extract_edu(x['education'],5),axis=1)
sample['qual_3']=sample.apply(lambda x: pf.extract_edu(x['education'],8),axis=1)

In [23]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT * FROM tutor_subjects
WHERE subjects = 'English'
"""
birth_data_from_sql = pd.read_sql_query(sql_query,con)

birth_data_from_sql.head()

   index tutor_ids subjects
0     22   7277990  English
1     67   7611743  English
2    119   7614535  English
3    191   7717276  English
4    214   7753548  English

In [33]:
def get_hours_day(day):
    hours = np.array(day.replace('[','').replace(']','').replace(' ','').split(','))
    return float(len(hours[hours=='True'])/24)

day_cols = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
for col in day_cols:
    sample[col + '_hours'] = sample[col].apply(get_hours_day)
hours_cols = ['sunday_hours','monday_hours','tuesday_hours','wednesday_hours','thursday_hours',
              'friday_hours','saturday_hours']
sample['mean_hours'] = sample[hours_cols].mean(axis=1)
sample.head()

,description,priceRange,address,aggregateRating,makesOffer,time_tutoring,bio,background_check,date_background_passed,education,...,qual_2,qual_3,sunday_hours,monday_hours,tuesday_hours,wednesday_hours,thursday_hours,friday_hours,saturday_hours,mean_hours
0,"French Translator, Writer, and Editor",50.0,"{'addressLocality': 'Leola', 'addressRegion': ...","{'ratingCount': '298', 'ratingValue': '4.86195...","[{'name': 'Literature tutoring'}, {'name': 'En...","1,020 hours tutoring","[""If you need to improve your reading or writi...",1,\n\nBackground check passed on 11/15/2016\n,['\n Hood College\n ...,...,Graduate Coursework,[],0.000000,0.166667,0.250000,0.208333,0.333333,0.166667,0.333333,0.208333
1,"Math, Physics, and Chemistry Tutor",53.0,"{'addressLocality': 'Lancaster', 'addressRegio...","{'ratingCount': '1154', 'ratingValue': '4.9688...","[{'name': 'GRE tutoring'}, {'name': 'GED tutor...","4,659 hours tutoring","[""If you're having trouble in your math or sci...",1,\n\nBackground check passed on 11/5/2014\n,['\n Carnegie Mellon Univer...,...,Other,[],0.708333,0.708333,0.708333,0.708333,0.708333,0.708333,0.708333,0.708333
2,Native french tutor,40.0,"{'addressLocality': 'Lititz', 'addressRegion':...","{'ratingCount': '55', 'ratingValue': '4.90909'...","[{'name': 'Italian tutoring'}, {'name': 'Adobe...",140 hours tutoring,['As native French with excellent writing skil...,1,\n\nBackground check passed on 9/18/2013\n,['\n UniversitÃ© Nice Sophia...,...,Other,Other,0.000000,0.125000,0.208333,0.208333,0.208333,0.208333,0.333333,0.184524
3,"Math, Test Prep (SAT, ACT, GED, GRE, ASVAB), a...",50.0,"{'addressLocality': 'Lancaster', 'addressRegio...","{'ratingCount': '1902', 'ratingValue': '4.9600...","[{'name': 'Homeschool tutoring'}, {'name': 'Go...","7,393 hours tutoring","[""Mathematics is often so confusing and so bor...",1,\n\nBackground check passed on 4/20/2020\n,['\n Bob Jones University\n...,...,MEd,[],0.208333,0.458333,0.458333,0.458333,0.583333,0.583333,0.541667,0.470238
4,"Science and Math Tutoring (GenChem, Physics, O...",40.0,"{'addressLocality': 'Lancaster', 'addressRegio...","{'ratingCount': '33', 'ratingValue': '4.75758'...","[{'name': 'Elementary Science tutoring'}, {'na...",132 hours tutoring,['I have 12 years of tutoring experience at th...,1,\n\nBackground check passed on 1/18/2014\n,['\n Stevenson University f...,...,[],[],0.291667,0.375000,0.375000,0.375000,0.375000,0.375000,0.375000,0.363095

In [34]:
cols_to_drop = ['address','aggregateRating','makesOffer','time_tutoring','date_background_passed','education',
               'subject_list'] + day_cols
tutor_main = sample.drop(cols_to_drop, axis=1)
tutor_main['priceRange']=tutor_main['priceRange'].apply(int)
tutor_main = tutor_main.rename(columns={'priceRange': 'hourly_rate'})

In [35]:
tutor_main = tutor_main.reset_index(drop='True')
tutor_main.to_sql('tutor_main', engine, if_exists='append')

In [44]:
sql_query = """
SELECT *
  FROM tutor_main
   WHERE hourly_rate > 70
"""
tutor_data_from_sql = pd.read_sql_query(sql_query,con)
tutor_data_from_sql.head()

,index,description,hourly_rate,bio,background_check,tut_id,photo,rating_count,rating_av,review_count,...,qual_2,qual_3,sunday_hours,monday_hours,tuesday_hours,wednesday_hours,thursday_hours,friday_hours,saturday_hours,mean_hours
0,1,"Math, Writing and Econ Specialist, 8+ Years Tu...",75,"['From Algebra to MLA, Middle School to MBA, I...",1,7277990,1,338,4.93195,18.0,...,Masters,{},0.500000,0.541667,0.583333,0.583333,0.583333,0.500000,0.333333,0.517857
1,2,Top-Rated Test Prep (SAT / ACT / ISEE / HSPT) ...,95,"[""I am an experienced (3000+ hours) tutor cert...",1,7611743,1,1046,4.94349,74.0,...,{},{},1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,3,Congratulations to my students entering Harvar...,95,['MARCH 2020: IN ORDER TO ASSIST MORE STUDENTS...,1,7614535,1,1602,4.97940,32.0,...,Masters,{},0.000000,0.375000,0.541667,0.541667,0.250000,0.416667,0.375000,0.357143
3,13,"Patient, Knowledgeable and Effective Spanish T...",125,['I am a high school AP Spanish Language teach...,1,8022035,1,67,4.98507,12.0,...,{},{},0.041667,0.166667,0.083333,0.125000,0.125000,0.083333,0.000000,0.089286
4,6,"Creative College Essay Coaching, Interview Pre...",75,"[""My greatest strength as a writing tutor is h...",1,7753548,1,170,4.88824,18.0,...,Masters,Masters,0.333333,0.541667,0.541667,0.375000,0.541667,0.500000,0.500000,0.476190

In [31]:
tutor_nums = pd.read_csv('/home/codonnell/tutors/tutmain/tutors_per_zip.csv')

In [32]:
cols_to_drop = ['Unnamed: 0','tot_tuts']
tutor_nums = tutor_nums.drop(cols_to_drop,axis=1)

In [33]:
tutor_nums.to_sql('tutor_nums', engine, if_exists='replace')

In [45]:
zip_incomes = pd.read_csv('/home/codonnell/Insight/Insight_Project_AsTutor/data/raw/zips_incomes/combined_incomes.csv')
zip_incomes.head()

   zip_code           state population growth  average_age income_per_house
0     11226     Brooklyn NY     94,814    -7%         34.5       $29,498.00
1     90805   Long Beach CA     94,475     1%         29.0       $32,565.00
2     91331      Pacoima CA     93,821   -10%         29.5       $39,225.00
3      8701     Lakewood NJ     93,320     0%         23.9       $35,647.00
4     90044  Los Angeles CA     92,967     3%         28.6       $22,091.00

In [38]:
def clean_income(income):
    return float(income.strip('$').replace(',',''))

In [46]:
zip_incomes['household_income'] = zip_incomes['income_per_house'].apply(clean_income)
zip_incomes['pop'] = zip_incomes['population'].apply(clean_income)

In [48]:
cols_to_drop = ['state','population','growth','income_per_house']
zip_incomes = zip_incomes.drop(cols_to_drop,axis=1)
zip_incomes.head()

   zip_code  average_age  household_income      pop
0     11226         34.5           29498.0  94814.0
1     90805         29.0           32565.0  94475.0
2     91331         29.5           39225.0  93821.0
3      8701         23.9           35647.0  93320.0
4     90044         28.6           22091.0  92967.0

In [49]:
zip_incomes.to_sql('zip_incomes', engine, if_exists='replace')